
.ipynb_checkpoints/baseline-checkpoint.ipynb
.ipynb_checkpoints/baseline-checkpoint.ipynb
KNN/.ipynb_checkpoints/baseline_KNN-checkpoint.ipynb
DecisionTree/.ipynb_checkpoints/baseline_Decision_Tree-checkpoint.ipynb
